$ma: #a63636;
@keyframes monanimnulle {
from {
transform: translateY(-50px);
color:red;
}
to {
transform: translateY(0);
color:navy;
}
}


body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  line-height: 1.5;
  padding: 24px;
  max-width: 800px;
  margin: auto;
  color: #111;
}

/* Menu de navigation  */
nav {
  position: fixed;    
  top: 0;
  left: 0;
  width: 100%;
  background-color: #b34d4d; 
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; 
  gap: 20px; /* espace entre les liens */
}

nav a {
  text-decoration: none;
  color: #efebeb;
  font-weight: bold;
  font-size: 0.95rem;
}

nav a:hover {
  color: #95908f; /* couleur au survol */
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2.2rem;
  margin: 0.2rem 0;
  animation: monanimnulle 4s 1;
}

header p {
  margin: 0;
  color: #555;
}

section {
  margin: 18px 0;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 18px 0;
}

.meta {
  font-size: 0.9rem;
  color: #444;
}

.muted {
  color: #666;
}

img {
  width: 120px;         
  height: 120px;        
  border-radius: 50%;   
  object-fit: cover;     
  display: block;
  margin: 10px auto;
}

/* --- Style pour le tableau --- */
table {
  width: 100%;
  border-collapse: collapse; 
}

th, td {
  border: 1px solid #9a3c3c; 
  padding: 8px;               
  text-align: left;
}

th {
  background-color: #cc6760;
  font-weight: 600;
}
#education table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 0.95rem;
}

#education th, 
#education td {
  border-bottom: 1px solid #9a3c3c;
  text-align: left;
  padding: 8px;
}

#education th {
  background-color: #cc6760;
  font-weight: 600;
}

#education a {
  color: $ma;
  text-decoration: none;
}

#education a:hover {
  text-decoration: underline;
  color: #e21a1a;
}

a {
  color: #9e4545; /* couleur par défaut du lien */
  text-decoration: none;
}

a:hover {
  color: #e21a1a; /* couleur au survol */
  text-decoration: underline;
}

.experience-item {
  display: inline-flex;      
  align-items: center;       
  gap: 4px;                  
}

.experience-item img {
  width: 60px;               
  height: 60px;
  object-fit: cover;      
  border-radius: 8px;
  margin: 0;                 
}

#competences ul {
  list-style-type: none;  
  padding: 0;             
  margin-top: 10px;
}

#competences li {
  margin-bottom: 5px;     
  font-size: 1rem;
}

#competences li::before {
  content: "• ";
  color: #943737;
  font-weight: bold;
}

footer .footer-content {
  display: flex;            
  justify-content: space-between; 
  align-items: center;      
  padding: 10px 20px;
  background-color: #f2f2f2; 
}

footer .adresse {
  margin: 0; 
}

footer .contact {
  margin: 0;
}

/* ---  telephone --- */
@media (max-width: 768px) {
  /* Header : titre et meta plus petits  */
  header h1 {
    font-size: 1.6rem;
  }

  header p.meta {
    font-size: 0.85rem;
  }

  header img {
    width: 80px;
    height: 80px;
  }

  
  footer .footer-content {
    flex-direction: column;
    text-align: center;
    gap: 5px;
  }

  
  nav ul {
    
    gap: 10px;
  }

  
  nav a {
    font-size: 0.8rem; 
  }
}